body{
  margin:0 auto 0 auto;
}
h2{
  text-align: center;
  color: white;
}
.h3{
  margin: 0;
}
a{
  text-decoration: none;
  color: #ffffff;
}
.top{
  height: 80px;
  width: 100%;
  background-color: black;
  position: relative;
}
.top-in{
  height: 70px;
  width: 250px;
  position: absolute;
  top: 5px;
  left: 100px;
}
.chill-aid{
  font-size: 40px;
  color: #97BDAB;
}
.top-in-2{
  height: 30px;
  width: 650px;
  position: absolute;
  top: 25px;
  left: 800px;
}
.menu{
  height: 24px;
  width: 125px;
  color: white;
  float: left;
  text-align: center;
  margin-top: 3px;
  margin-left: 4px;

}
.none{
  margin-top: 0;
}
.container{
  height: 700px;
  width: 100%;
  margin: 0;
  background-color: #b6d4d1;
  position: relative;
  background-image: url("dark.png");
}
.con{
  margin: 0;
  text-align: center;
  padding-top:200px;
  font-size: 60px;
  font-family: sans-serif;
  color: #ffffff;
}
.con-1{
  margin: 0;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}
.container-out{
  height: 40px;
  width: 250px;
  border-radius: 5%;
  background-color: #005266;
  position: absolute;
  top: 400px;
  left: 42%;
}
.container-out:hover{
  background-color: #007a99;
}
.out{
  padding: 0;
  text-align: center;
  margin-top: 8px;
  color: #ffffff;
}
.container-2{
  height: 600px;
  width: 100%;
  margin: 0;
  background-color: #ccffff;
  position: relative;

}
.in-1{
  height: 250px;
  width: 250px;
  background-color: #cce6ff;
  position: absolute;
  top: -60px;
  left: 170px;
  border-radius: 0 25%;
  text-align: center;
}
.in-2{
  height: 250px;
  width: 250px;
  background-color: #b3daff;
  position: absolute;
  top: -60px;
  left: 470px;
  border-radius: 0 25%;
  text-align: center;
}
.in-3{
  height: 250px;
  width: 250px;
  background-color: #99ceff;
  position: absolute;
  top: -60px;
  left: 800px;
  border-radius: 0 25%;
  text-align: center;
}
.in-4{
  height: 250px;
  width: 250px;
  background-color: #cce6ff;
  position: absolute;
  top: -60px;
  left: 1100px;
  border-radius: 0 25%;
  text-align: center;
}
img{
  width: 15%;
  margin-top: 20px;
}
.ino-1{
  height: 250px;
  width: 500px;
  background-color: #e6ccff;
  position: absolute;
  top: 300px;
  left: 200px;
  background-image: url("street-toronto-night.jpg");
}
.ino-1-1{
  height: 20px;
  width: 500px;
  background-color: #f2f2f2;
  margin-top: 230px;
}
.ino-1-2{
  height: 20px;
  width: 500px;
  background-color: #f2f2f2;
  margin-top: 230px;
}
.ino-2{
  height: 250px;
  width: 500px;
  background-color: #e6ccff;
  position: absolute;
  top: 300px;
  left: 800px;
  background-image: url("toronto-canada.jpg");
}
.container-3{
  height: 1000px;
  width: 100%;
  background-color: #a4b1b1;
  position: relative;
  text-align: center;
}
.container-3-top{
  color: black;
  padding-top: 20px;
  margin: 0;
}
.container-3-bottom{
  color: black;
  font-size: 40px;
}
.container-3-1{
  height: 300px;
  width: 400px;
  background-color: #e6ffe6;
  position: absolute;
  top: 250px;
  left: 150px;
}
.container-3-1:hover{
  background-color: #ccffcc;
}
.container-3-2{
  height: 300px;
  width: 400px;
  background-color: #e6ffe6;
  position: absolute;
  top: 250px;
  left: 1050px;
}
.container-3-2:hover{
  background-color: #ccffcc;
}
.container-3-3{
  height: 300px;
  width: 400px;
  background-color: #e6ffe6;
  position: absolute;
  top: 250px;
  left: 600px;
}
.container-3-3:hover{
  background-color: #ccffcc;
}
.container-3-4{
  height: 300px;
  width: 400px;
  background-color: #e6ffe6;
  position: absolute;
  top: 600px;
  left: 150px;
}
.container-3-4:hover{
  background-color: #ccffcc;
}
.container-3-5{
  height: 300px;
  width: 400px;
  background-color: #e6ffe6;
  position: absolute;
  top: 600px;
  left: 600px;
}
.container-3-5:hover{
  background-color: #ccffcc;
}
.container-3-6{
  height: 300px;
  width: 400px;
  background-color: #e6ffe6;
  position: absolute;
  top: 600px;
  left: 1050px;
}
.container-3-6:hover{
  background-color: #e6ffe6;
}
.container-4{
  height: 500px;
  width: 100%;
  background-color: #ffffcc;
  position: relative;
  text-align: center;
}
.container-4-1{
  height: 100px;
  width: 100px;
  background-color: #ccffff;
  position: absolute;
  top: 150px;
  left: 400px;
  border-radius: 50%;
}
.container-4-2{
  height: 100px;
  width: 100px;
  background-color: #ccffff;
  position: absolute;
  top: 150px;
  left: 1000px;
  border-radius: 50%;
}
.male-fimale{
  width: 70%;
}
.container-4-3{
  height: 150px;
  width: 600px;
  background-color: #959191;
  position: absolute;
  top: 300px;
  left: 100px;
  border-radius: 30% 0
}
.container-4-4{
  height: 150px;
  width: 600px;
  background-color: #959191;
  position: absolute;
  top: 300px;
  left: 800px;
  border-radius: 30% 0
}
.container-5{
  height: 600px;
  width: 100%;
  background-color: rgb(211, 197, 197);
  text-align: center;
  position: relative;
}
.container-5-1{
  height: 400px;
  width: 680px;
  background-color: rgb(184, 235, 184);
  margin-left: 20px;
  position: absulute;
  top: 100px;
  left: 20px;
}

.skill{
  height: 130px;
  width: 680px;
  background-color: #99ceff;
  margin-top: 4px;
  border-radius: 10px;
  position: relative;
}
.skill-1{
  height: 130px;
  width: 130px;
  background-color: #c1ccd8;
  border-radius: 50%;
  position: absolute;

}
.imo{
  width: 65%;
}
.skill-2{
  height: 130px;
  width: 550px;
  background-color: #8f9aa8;
  position: absolute;
  left: 130px;
  border-radius: 0 10px 10px 0;
}
.text{
  text-align: left;
  margin-left: 20px;
}
.container-5-2{
  height: 400px;
  width: 680px;
  background-color: rgb(206, 219, 206);
  margin-left: 20px;
  border-radius: 20px;
  position: absolute;
  top: 100px;
  left: 780px;
}

.container-6{
  height: 500px;
  background-color: rgb(217, 217, 217);
  background-image: url("building-skyline.jpg");
  position: relative;
}
.container-6-1{
  height: 450px;
  width: 350px;
  position: absolute;
  left: 20px;
}
.paragraph{
  color: #ffffff;
  margin: 100px 10px 100px 10px;

}
.paragraph-1{
  color: #ffffff;
}
.container-6-2{
  height: 450px;
  width: 350px;
  position: absolute;
  left: 380px;
}
.volutapat{
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.metus{
  font-size: 20px;
  margin: 20px;
  font-family: sans-serif;
}
.container-6-3{
  height: 450px;
  width: 350px;
  position: absolute;
  left: 750px;
}
.container-6-4{
  height: 450px;
  width: 350px;
  position: absolute;
  left: 1110px;
}
.Vel{
  font-family: sans-serif;
  font-size: 20px;
  margin: 20px;
  color: #ffffff;
}
.Fusce{
  font-family: sans-serif;
  color: #85b1bd;
  margin: 20px;
}
.container-6-6{
  height: 50px;
  width: 100%;
  background-color: #007a99;
  position: absolute;
  top: 450px;
}
.bottom-para{
  width: 50%;
  text-align: left;
  margin: 12px 0 0 50px;
  padding: 0;
}
.copy{
  width: 15%;
  float: right;
  margin: 0;
  padding: 0;
}

/* WARNING: for form */

input[type=text], select{
    width: 100%;
    padding: 10px 20px;
    margin: 9px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=Email], select{
    width: 100%;
    padding: 10px 20px;
    margin: 9px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 50%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 100px;
}
input[type=submit]:hover{
    background-color: #45a049;
}
div.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;;
}
